doctype html
html(lang='pt-br')
  head
    meta(charset='utf-8')
    meta(name='description', content='This is a simple game in HTML5 without canvas feature, only for testing game experience with web speech API')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    meta(name='format-detection', content='telephone=no')

    //- Title
    //- ===================================
    title Akeime Voice Game

    //- Favicon and SVG logo
    //- ===================================
    link(rel='shortcut icon', href='assets/img/favicon.ico')
    link(rel='logo', type='image/svg', href='assets/img/logo.svg')

    //- Stylesheet and fonts are placed after body for performance reasons
    //- Scripts are places at the end of body for performance reasons

  body
    nav.about
      span.about__title#aboutButtom(onClick='openAbout()') Sobre

    div.close-about#closeAbout(onClick='closeAbout()')

    div.about-modal#modalAbout
      span.about-modal__title
        | Sobre a aplicação
      span.about-modal__subtitle
        | Objetivo:
      p.about-modal__text
        | O objetivo da aplicação é testar a interação da Web Speech API com animações CSS. Não há um objetivo do jogo em si.
      span.about-modal__subtitle
        | Tecnologia Assistiva/Necessidade especial: 
      p.about-modal__text
        | A Web Speech API pode ser considerada uma ferramenta para pessoas com dificuldade para utilizar mouse, teclado, e outros dispositivos que exijam habilidade motora. A página também busca atender requerimentos de acessibilidade padrão em HTML.
      span.about-modal__subtitle
        | Equipe
      p.about-modal__text
        | Antônio David Brito Lima; Laurene Mitie Rodrigues Okada; Ricardo Álvaro Gouveia Gomes Filho; Wilker Correia Chaves
      span.about-modal__close-tip
        | Clique fora esta caixa para fecha-la


    div#testBall.test-ball

    nav.actions
      ul.actions__list
        li#buttomJump.actions__list__item.actions__list__item_jump(onClick='jump()') Pular
        li#buttomWalkLeft.actions__list__item.actions__list__item_walk-left(onClick='walkLeft()') Andar &lArr;
        li#buttomWalkRight.actions__list__item.actions__list__item_walk-right(onClick='walkRight()') Andar &rArr;
        li#failIndicator.actions__list__item.actions__list__item_not-in-list ?
        li#btn_gravar_audio.actions__list__item.actions__list__item_record Reconhecer voz

    div.background
      img.background__cloud.background__cloud__1(src='assets/img/cloud-1.svg', alt='Nuvem quadrada')
      img.background__cloud.background__cloud__2(src='assets/img/cloud-2.svg', alt='Nuvem quadrada')

      img.background__island.background__island__1(src='assets/img/island-1.svg', alt='Ilha voadora')
      img.background__island.background__island__2(src='assets/img/island-2.svg', alt='Ilha voadora')
      
      div.background__horizon

    div.ground


    //- JS scripts
    //- ===================================
    script(src='assets/js/index.min.js')

  //- Stylesheet and fonts
  //- ===================================
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=VT323')
  link(rel='stylesheet', href='assets/css/style.css')
