.about
  background-color: $asbestos
  border: 1px solid $white
  cursor: pointer
  left: 1em
  padding: .6ch
  position: absolute
  text-align: center
  top: 1em
  z-index: 100

  &:hover
    background-color: $concrete

.about__title
  color: $white
  font-family: $pixeled


.actions
  bottom: 0
  position: absolute
  z-index: 90
  width: 100%

.actions__list
  display: flex
  flex-wrap: nowrap
  list-style-type: none
  margin: 0
  padding: 0

.actions__list__item
  background-color: $asbestos
  border: 1px solid $white
  color: $white
  cursor: pointer
  font-family: $pixeled
  padding: .6ch
  text-align: center

  &:hover
    background-color: $concrete

.actions__list__item_record
  background-color: $spiced-nectarine
  position: absolute
  right: 0

  &:hover
    background-color: $quince-jelly

.actions__list__item_not-in-list
  background-color: $asbestos
  cursor: default
  min-width: 100px
  margin-left: 50px

  &:hover
    background-color: $asbestos
