.menu
  background-color: $asbestos
  border: 1px solid $white
  cursor: pointer
  left: 1em
  padding: 1ch
  position: absolute
  text-align: center
  top: 1em
  z-index: 100

  &:hover
    background-color: $concrete

.menu__title
  color: $white
  font-family: $pixeled
