.test-ball
  background-color: $carrisma
  border-radius: 100%
  bottom: 10% // sass-lint:disable-line zero-unit
  height: 100px
  left: calc(50% - 50px)
  position: absolute
  right: calc(50% - 50px)
  width: 100px
  z-index: 99
